*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  gap: 1em;
}

button {
  background: #ff6b00;
  color: #fff;
  font-family: "inter", sans-serif;
  padding: 8%;
  width: 45%;
  letter-spacing: 0.03em;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: 0;
}

hr {
  width: 95%;
  border: 1px solid #212121;
}

img {
  width: 100%;
}

/* header  */
header {
  background: #3c3a39;
  width: 100%;
  padding: 2em;
}

header h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  display: flex;
  gap: 12em;
  align-items: center;
  margin: 0;
}

/* intro */
.intro {
  background: #1c1a19;
  width: 100%;
  background-image: url("./img/intro-mobile.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 167vh;
  display: flex;
  flex-direction: column;
}

.intro h1 {
  color: #ff6800;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 3em;
  align-self: center;
}

.intro h2 {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  align-self: center;
}

.intro p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 1.2em 2.3em;
}

/* works */
.works {
  background: #e5e5e5;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.works h1 {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 2em;
  align-self: center;
  margin-left: 11.4%;
}

#top-work {
  display: flex;
  flex-direction: column;
  padding: 7%;
  margin-bottom: 2.4%;
}

#top-work h1 {
  color: #091e42;
  white-space: nowrap;
  margin-left: 0.6%;
}

#top-work p {
  font-family: "inter", sans-serif;
  line-height: 1.4em;
  color: #091e42;
}

#top-work ul {
  padding: 0;
  gap: 0.5em;
}

#top-work ul li {
  box-sizing: border-box;
  border: 1px solid #8993a4;
  align-items: center;
  padding: 0.75em 0.75em;
}

.works #special,
.works #normal {
  position: relative;
  margin-top: 2.4em;
  margin-bottom: 2.4em;
}

.works #special h1,
.works #normal h1 {
  position: absolute;
  top: 8.4%;
  color: white;
  width: 95%;
  font-family: 'Crete Round', sans-serif;
}

.works #special p,
.works #normal p {
  position: absolute;
  top: 38.8%;
  left: 3.5em;
  color: white;
  font-size: 70%;
  font-family: 'Crete Round', sans-serif;
  line-height: 2.4em;
}

.works #special ul,
.works #normal ul {
  position: absolute;
  bottom: 3em;
  left: 2.6em;
  padding: 0;
}

.works #special ul li,
.works #normal ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 0.75em;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75em;
  color: #fff;
  line-height: 2em;
}

.works #special button,
.works #normal button {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1.2rem 7.75rem;
  white-space: nowrap;
  margin-bottom: -1.8em;
}

.works #normal:last-child {
  margin-bottom: 12em;
}

/* about */
.about {
  background: #1C1A19;
  display: flex;
  flex-wrap: wrap;
}

.about .brief {
  background-image: url("./img/illustration-about-me-mobile.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.about .brief h1 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-align: center;
  padding: 0vw 9vw;
}

.about .brief p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #F4F5F7;
  padding: 2.75em 2em;
}

.about .brief button {
  margin-left: 2.1em;
  width: 48%;
  margin-top: 6em;
  white-space: nowrap;
}

.about hr {
  border: 1px solid #fff;
}

.about .list h1 {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2em;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.5em;
  padding: 1.75em;
  margin: 0;
}

.about .list:nth-last-child(2) h1 {
  padding-left: 1.5em;
}

.about .list:last-child h1 {
  padding-left: 3em;
}

.about .list img {
  width: fit-content;
}

.about .list ul {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 10em;
}

.about .list:last-child ul {
  padding-left: 3.75ßem;
}

.about .list ul li {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 194%;
}

/* contact */
.contact {
  background: #e5e5e5;
  width: 100%;
  padding-bottom: 11.2%;
  margin-top: -2.7em;
  margin-bottom: 7.75em;
}

.contact h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.38em;
  text-align: center;
  padding: 0.4em;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 3.9em;
  width: 100%;
  align-items: center;
}

input[type="text"] {
  border: solid 1px #DBD8D7;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  width: 80%;
}

textarea {
  color: #FBF8F7;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  line-height: 2.4em;
  width: 80%;
  height: 27vh;
}

/* footer */
.footer hr {
  border: 1px solid#dfe1e6;
}

.footer ul {
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}

.footer img {
  filter: grayscale(100%);
}

.ned {
  border: 6px solid black;
  width: 35%;
}

@media screen and (min-width: 768px) {
    
  header .header-mobile {
    display: none;
  }

  header ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 9%;
  }

  header li {
    display: inline-block;
    font-family: 'Inter', sans-serif;
  }

  header .header-desktop img {
    width: 1.4em;
  }

  section.intro {
    margin: 0 auto;
    background-image: url("./img/Illustration-header.png");
    background-position: right 50%;
    background-size: 40% auto;
  }

  .intro h1 {
    text-align: left;
    padding-top: 1.92em;
    width: 100%;
    padding-left: 3.6em;
    font-size: xx-large;
  }

  .intro h2 {
    width: 74.75%;
    font-size: x-large;
    padding-left: 0.6em;
  }

  .intro p {
    width: 50%;
    padding-left: 3.6em;
    font-size: larger;
  }

  .intro ul {
    flex-direction: column;
    margin-top: -273px;
  }

  .intro ul li img {
    width: 2.5%;
  }

  section.works {
    margin: 0 auto;
  }

  #top-work,
  #special,
  #normal {
    width: 33.33%;
    margin: 0 1em;
  }

  .works-desktop {
    display: flex;
    align-items: center;
  }
  .works-desktop h1 {
    display: inline-block;
    width: fit-content;
    margin-left: 13.35%;
    white-space: nowrap;
  }
  .works-desktop hr {
    display: inline-block;
    width: 100%;
    flex-grow: 1;
    margin-right: 9.3%;
    margin-left: 2.4%;
  }

  #top-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .img-container {
    padding-left: 0.7em;
  }

  .img-container img {
    width: 47.5vw;
  }
  
  .text-container {
    padding-left: 0.84em;
    margin-top: -1.74em;
  }

  .div-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    align-self: center;
  }

  #special, 
  #normal {
    width: 14rem;
  }

  #special img {
    content: url("./img/spcial-work.png");
  }

  #special button {
    padding: 1em 4.75rem;
    bottom: 10%;
  }

  #special h1,
  #special p, 
  #special ul {
    display: none;
  }

  .div-container #normal button {
    display: none;
  }

  #normal h1 {
    font-size: 1.8em;
  }

  #normal p {
    top: 36%;
    font-size: 0.8em;
    left: 2.1em;
    line-height: 1.8em;
    width: 85%;
  }

  #normal ul {
    left: 1.6em;
    bottom: 1em;    
  }

  #normal ul li {
    padding: 6% 3%;
  }

  .about .brief {
    margin: 0 auto;
    background-image: url("./img/about-me-desktop.png");
    background-position: right 50%;
    background-size: 40% auto;
  }

}