* {
  font-family: "Poppins", sans-serif;
}

/* header  */
header {
  background: #3c3a39;
}

/* intro */
.intro {
  background: #1c1a19;
  width: 100%;
}

.intro h1 {
  color: #ff6800;
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}
